* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard", sans-serif;
}

:root {
  --color-bg-surface: #FFFFFF;
  --color-border-default: #E3E6EB;
  --color-text-primary: #17191E;
  --color-text-tertiary: #969DA8;
  --color-action-primary: #2563EB;
}