.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
}

.movie-grid .movie-grid-title {
  grid-column: 1 / -1;
  justify-self: start;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .movie-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
